.main-header {
    width: 400px;
    min-height: 400px;
    border: 1px solid #000;
    background-color: rgba(17, 17, 17, 0.7);
    background-image: url(/img/bg.jpg);
    box-sizing: border-box;
}
  